:root {
    --header-color: #5327F2;
    --header-second-color: #7655ee;
    --mibr-primary-color: #dea83d;
    --furia-and-sk-color: #000;
    --imperial-color: #0cd664;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CAROUSEL */

.container {
    position: relative;
    padding: 15px;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 10px;
}

.noticias-wrapper {
    overflow-x: auto;
}

.noticias {
    display: flex;
    flex-wrap: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: .1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.item {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    opacity: .6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.noticias-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noticias-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* FIM DO CAROUSEL */

/* NOTICIAS GRID PRINCIPAL */

#grid-noticias-principais {
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "noticia-principal noticia-secundaria-1"
    "noticia-principal noticia-secundaria-2";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

.noticia-grande {
    grid-area: noticia-principal;
    padding: 1.5rem;
}

.noticia-menor-1 {
    grid-area: noticia-secundaria-1;
}

.noticia-menor-2 {
    grid-area: noticia-secundaria-2;
}

.noticia-grande, .noticia-menor-1, .noticia-menor-2 {
    background-color: #BC20E2;
} 


body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
    background: var(--header-color);
    padding: 5px;
}

#header > img {
    width:  10%;
}

#menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-weight: 600;
    background-color: var(--header-second-color);
    margin: 0px;
    padding: 8px;
}

#menu > li, a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
  

#mibr:hover {
    color: var(--mibr-primary-color);
}

#furia:hover, #sk:hover {
    color: var(--furia-and-sk-color);
}

#imperial:hover {
    color: var(--imperial-color);
}