:root {
    --header-color: #5327F2;
    --header-second-color: #7655ee;
    --mibr-primary-color: #dea83d;
    --furia-and-sk-color: #000;
    --imperial-color: #0cd664;
    --sair-color: rgb(230, 57, 57);
    --hltv-color: #2b6ea4;
    --legenda-color: #fff;
    --tema-branco: #f7f7f7;
    --tema-escuro: #000;
    --tema-escuro-2: #000;
    --tema-branco-2: #fff;
    --tema-branco-3: #f6f6f9;
    --tema-branco-4: hsla(0,0%,100%,.8);
    --tema-3: #111;
    --tema-4: #000;
    --botao-cor1: #7d1ad4;
    --botao-cor2: #6e17b9;
    --font-evento: Open Sans,sans-serif;
}

[data-theme="dark"] {
    --tema-branco: #000;
    --tema-escuro: #f7f7f7;
    --tema-escuro-2: #fff;
    --tema-branco-2: #000;
    --tema-branco-3: #000;
    --tema-branco-4: #000;
    --tema-3: #5327F2;
    --tema-4: #220394;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tema-branco);
    transition: background-color .8s;
    margin: 0;
    padding: 0;
}

/* INICIO GRID-SITE-INTEIRO */
/* FIM GRID-SITE-INTEIRO */

/* HEADER/NAV */
#header {
    display: flex;
    justify-content: center;
    background: var(--header-color);
    padding: 5px;
}

#header > img {
    width:  10%;
}

#menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-weight: 600;
    background-color: var(--header-second-color);
    margin: 0px;
    padding: 8px;
}

#menu > li, a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
  

#mibr:hover {
    color: var(--mibr-primary-color);
}

#furia:hover, #sk:hover {
    color: var(--furia-and-sk-color);
}

#imperial:hover {
    color: var(--imperial-color);
}

#sair:hover {
    color: var(--sair-color);
}

/* FIM DO HEADER/NAV */

/* CAROUSEL */

.container {
    position: relative;
    padding: 15px;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 10px;
}

.noticias-wrapper {
    overflow-x: auto;
}

.noticias {
    display: flex;
    flex-wrap: row nowrap;
    gap: 15px;
    cursor: pointer;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: .1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.item {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    opacity: .6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.noticias-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noticias-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* FIM DO CAROUSEL */

/* NOTICIAS GRID PRINCIPAL */

#grid-noticias-principais {
    display: grid;
    grid-template-areas:
    "imagem-principal imagem-secundaria-1"
    "imagem-principal imagem-secundaria-2";
    grid-template-columns: 35% 35%;
    grid-template-rows: 53% 53%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 50px;
}

#grid-noticias-principais img {
    position: relative;
    border-radius: 20px;
}

#imagem-principal {
    grid-area: imagem-principal;
}

#imagem-principal img {
    max-width: 100%;
    height: 100%;
}

#imagem-principal h2 {
    position: relative;
    bottom: 23%;
    left: 5%;
    color: var(--legenda-color);
    width: 90%;
    font-size: 2em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

#imagem-secundaria-1 {
    display: inline;
    grid-area: imagem-secundaria-1;
    max-width: 480px;
    max-height: 262.31px;
}

#imagem-secundaria-1 img {
    max-width: 100%;
    height: 120%;
}

#imagem-secundaria-1 h2 {
    position: relative;
    bottom: 50%;
    left: 3%;
    color: var(--legenda-color);
    width: 90%;
    font-size: 2em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

#imagem-secundaria-2 {
    grid-area: imagem-secundaria-2;
    max-width: 480px;
    max-height: 320px;
}

#imagem-secundaria-2 img {
    max-width: 100%;
    height: 100%;
}

#imagem-secundaria-2 h2 {
        position: relative;
        bottom: 38%;
        left: 3%;
        color: var(--legenda-color);
        width: 80%;
        font-size: 2em;
        text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
        font-family: Arial, Helvetica, sans-serif;
}

/*FIM DO GRID PRINCIPAL*/

/* INICIO CONTAINER-MIBR-ANUNCIO */

.container-flex {
    display: flex;
    justify-content: space-between;
}

/* MIBR-GRID */

#grid-mibr {
    display: grid;
    grid-template-areas:
     "nome nome"
     "mibr-principal mibr-secundaria-1"
     "mibr-principal mibr-secundaria-2";
     grid-template-columns: 480px 480px;
     grid-template-rows: 50px 200px 200px;
     justify-content: flex-start;
     margin-left: 1%;
     background-color: var(--tema-branco-2);
     width: 43.8%;
     margin-top: 10%;    
    }

#grid-mibr img {
    position: relative;
    border-radius: 20px;
}

#secao {
    font-family: 'Oswald', sans-serif;
    grid-area: nome;
    position: relative;
    bottom: 60px;
    border-bottom: 2px solid var(--header-color);
    width: 84.4%;
    font-size: 30px;
    color: var(--mibr-primary-color);
}

.mibr-noticia-principal {
    grid-area: mibr-principal;
}

.mibr-noticia-principal img {
    width: 85%;
    height: 95%;
}

.mibr-noticia-principal h3 {
    position: relative;
    bottom: 28%;
    left: 3%;
    color: var(--legenda-color);
    width: 80%;
    font-size: 1.6em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.mibr-noticia-secundaria-1 {
    grid-area: mibr-secundaria-1;
    max-width: 326.312px;
    max-height: 183.547px;
}

.mibr-noticia-secundaria-1 img {
    width: 326.312px;
    height: 183.547px;
}

.mibr-noticia-secundaria-1 h3 {
    position: relative;
    bottom: 40%;
    left: 6%;
    color: var(--legenda-color);
    width: 100%;
    font-size: 1.6em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.mibr-noticia-secundaria-2 {
    grid-area: mibr-secundaria-2;
}

.mibr-noticia-secundaria-2 img {
    width: 326.312px;
    height: 183.547px;
}

.mibr-noticia-secundaria-2 h3 {
    position: relative;
    bottom: 40%;
    left: 2%;
    color: var(--legenda-color);
    width: 65%;
    font-size: 1.6em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}
/* FIM DO MIBR-GRID */

/* INICIO ANUNCIO */

#anuncio {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 10%;
    margin-right: .5%;
    width: 34%;
    height: 500px;
    animation-name: anuncio;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

@keyframes anuncio {
    0% {background-image: url("../Imagens/anuncios/brazino777.png");}

    20% {background-image: url("../Imagens/anuncios/liquid.png");}

    40% {background-image: url("../Imagens/anuncios/mcdonalds.jpg");}

    60% {background-image: url("../Imagens/anuncios/betano.png");}

    100% {background-image: url("../Imagens/anuncios/brazino777.png");}
}

/* FIM ANUNCIO */

/* FIM CONTAINER-MIBR-ANUNCIO */

/* INICIO FURIA-GRID */

#grid-furia {
    display: grid;
    grid-template-areas:
    "nome nome"
    "furia-principal furia-secundario-1"
    "furia-principal furia-secundario-2";
    grid-template-columns: 480px 480px;
    grid-template-rows: 50px 200px 200px;
    justify-content: flex-start;
    margin-left: 1%;
    margin-top: 10%;
    background-color: var(--tema-branco-2);
    width: 43.8%;
}

#grid-furia img {
    position: relative;
    border-radius: 20px;
}

#secao-furia {
    font-family: 'Oswald', sans-serif;
    grid-area: nome;
    position: relative;
    bottom: 60px;
    border-bottom: 2px solid var(--header-color);
    width: 84.5%;
    font-size: 30px;
    color: var(--tema-escuro
    );
}

.furia-noticia-principal {
    grid-area: furia-principal;
}

.furia-noticia-principal img {
    margin-left: 5%;
    width: 400px;
    height: 380px;
}

.furia-noticia-principal h3 {
    position: relative;
    bottom: 36%;
    left: 7%;
    color: var(--legenda-color);
    width: 80%;
    font-size: 1.8em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.furia-noticia-secundaria-1 {
    grid-area: furia-secundario-1;
}

.furia-noticia-secundaria-1 img {
    width: 326.312px;
    height: 183.547px;
}

.furia-noticia-secundaria-1 h3 {
    position: relative;
    bottom: 45%;
    left: 3%;
    color: var(--legenda-color);
    width: 65%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.furia-noticia-secundaria-2 {
    grid-area: furia-secundario-2;
}

.furia-noticia-secundaria-2 img {
    width: 326.312px;
    height: 183.547px;
}

.furia-noticia-secundaria-2 h3 {
    position: relative;
    bottom: 50%;
    left: 3%;
    color: var(--legenda-color);
    width: 65%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}
/* FIM FURIA-GRID */

/* INICIO ABA PRÓXIMO-EVENTOS */

#proximos-eventos {
    margin-top: 8%;
    width: 35%;
}

#secao-eventos {
    font-weight: 700;
    font-family: var(--font-evento);
    opacity: 1;
    position: relative;
    bottom: 5px;
    border-bottom: 2px solid var(--header-color);
    width: 100%;
    font-size: 1.875em;
    color: var(--tema-escuro
    );
}

.informacoes-evento {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--tema-branco-2);
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    margin-top: 1%;
}

.informacoes-evento-2 {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--tema-branco-3);
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    margin-top: 1%;
}

.tabela {
    width: calc(100% - 34px);
    color: inherit;
    font-weight: inherit;
    color: var(--tema-escuro-2);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.nome-evento {
    font-family: var(--font-evento);
    font-weight: 700;
    margin-right: 5%;
}

.n-times {
    width: 13.3333%;
    font-weight: 700;
}

.prizepool {
    max-width: 77px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 13.3333%;
    font-weight: 700;
}

.atividade {
    width: 13.3333%;
    font-weight: 700;
    font-family: var(--font-evento);
}

.logo-evento img {
    position: relative;
    width: 100%;
    height: 34px;
    right: 20%;
}

.col-desc{
    opacity: .75;
    font-size: 0.9em;
    font-family: var(--font-evento);
}

.pais-evento img {
    margin-right: 5px;
    height: 12px;
    width: 18px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: rgba(0,0,0,.05);
}

/* FIM ABA PRÓXIMO-EVENTOS */

/* INICIO IMPERIAL-GRID */

#grid-imperial {
    display: grid;
    grid-template-areas:
    "nome nome"
    "imperial-principal imperial-secundario-1"
    "imperial-principal imperial-secundario-2";
    grid-template-columns: 480px 480px;
    grid-template-rows: 50px 200px 200px;
    justify-content: flex-start;
    margin-left: 1%;
    margin-top: 10%;
    background-color: var(--tema-branco-2);
    width: 43.8%;
}

#grid-imperial img {
    position: relative;
    border-radius: 20px;
}

#secao-imperial {
    font-family: 'Oswald', sans-serif;
    grid-area: nome;
    position: relative;
    bottom: 60px;
    border-bottom: 2px solid var(--header-color);
    width: 84.5%;
    font-size: 30px;
    color: var(--imperial-color);
}

.imp-noticia-principal {
    grid-area: imperial-principal;
}

.imp-noticia-principal img {
    margin-left: 5%;
    width: 400px;
    height: 380px;
}

.imp-noticia-principal h3 {
    position: relative;
    bottom: 32%;
    left: 8%;
    color: var(--legenda-color);
    width: 80%;
    font-size: 2em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.imp-noticia-secundaria-1 {
    grid-area: imperial-secundario-1;
}

.imp-noticia-secundaria-1 img {
    width: 326.312px;
    height: 183.547px;
}

.imp-noticia-secundaria-1 h3 {
    position: relative;
    bottom: 40%;
    left: 2.5%;
    color: var(--legenda-color);
    width: 70%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.imp-noticia-secundaria-2 {
    grid-area: imperial-secundario-2;
}

.imp-noticia-secundaria-2 img {
    width: 326.312px;
    height: 183.547px;
}

.imp-noticia-secundaria-2 h3 {
    position: relative;
    bottom: 35%;
    left: 3%;
    color: var(--legenda-color);
    width: 70%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

/* FIM IMPERIAL-GRID */

/* INICIO RANKING HLTV */
#ranking-hltv {
    margin-top: 7.5%;
    width: 35%;
    position: relative;
    background-color: var(--tema-branco-3);
}

#secao-ranking {
    color: var(--hltv-color);
    font-weight: 700;
    font-family: var(--font-evento);
    opacity: 1;
    position: relative;
    bottom: 5px;
    border-bottom: 2px solid var(--header-color);
    width: 100%;
    font-size: 30px;
}

#ranking-holder {
    background-blend-mode: overlay;
    background-color: var(--tema-branco-4);
    background-position: 100%;
    background-repeat: no-repeat;
}

.informacoes-ranking {
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 8px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    background-color: var(--tema-branco-2);
    font-family: var(--font-evento);
    color: var(--tema-escuro-2);
}

.posicao-ranking {
    margin-right: 3%;
    font-weight: 700;
    font-size: 16px;
    width: 22px;
}

.logo-ranking img{
    height: 28px;
    max-width: 28px;
    margin-right: 10px;
    margin-left: 5px;
    flex: 0 0 28px;
}

.relative {
    width: 100%;
    position: relative;
}

.nome-pontos {
    transition: .3s;
    width: 100%;
    position: absolute;
    bottom: -6px;
    display: flex;
    align-items: center;
}

.nomeTime {
    position: relative;
    bottom: 4px;
    margin-right: 5px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pontosTime {
    position: relative;
    bottom: 4px;
    white-space: nowrap;
    margin-right: 5px;
    font-size: 11px;
}

.linha-players {
    width: 100%;
    position: absolute;
    bottom: -20px;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s ease;
    font-size: 14px;
    top: 2px;
}

.ranking-nick-nomes {
    display: inline-block;
    opacity: .65;
    font-size: 10px;
}

.mudanca-negativa {
    color: #e40a0a;
}

.lineup-con {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.lineup {
    padding-top: 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 0;
}

.player-holder {
    width: 20%;
    max-width: 1px;
}

.player-holder img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nick {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535!important;
    text-align: center;
    white-space: nowrap;
    font-family: var(--font-evento);
    font-size: 12px;
    position: relative;
    top: 3px;
    margin-bottom: 5%;
}

.nick img{
    width: 18px;
    height: 12px;
    margin-right: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: rgba(0,0,0,.05);
}
/* FIM RANKING HLTV */

/* INICIO SK-GRID */

#grid-sk {
    display: grid;
    grid-template-areas:
    "nome nome"
    "sk-principal sk-secundario-1"
    "sk-principal sk-secundario-2";
    grid-template-columns: 480px 480px;
    grid-template-rows: 50px 200px 200px;
    justify-content: flex-start;
    margin-left: 1%;
    margin-top: 10%;
    background-color: var(--tema-branco-2);
    width: 43.8%;
}

#grid-sk img {
    position: relative;
    border-radius: 20px;
}

#secao-sk {
    font-family: 'Oswald', sans-serif;
    grid-area: nome;
    position: relative;
    bottom: 60px;
    border-bottom: 2px solid var(--header-color);
    width: 84.5%;
    font-size: 30px;
    color: var(--tema-escuro
    );
}

.sk-noticia-principal {
    grid-area: sk-principal;
}

.sk-noticia-principal img {
    margin-left: 5%;
    width: 400px;
    height: 380px;
}

.sk-noticia-principal h3 {
    position: relative;
    bottom: 42%;
    left: 7%;
    color: var(--legenda-color);
    width: 80%;
    font-size: 2em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.sk-noticia-secundaria-1 {
    grid-area: sk-secundario-1;
}

.sk-noticia-secundaria-1 img {
    width: 326.312px;
    height: 183.547px;
}

.sk-noticia-secundaria-1 h3 {
    position: relative;
    bottom: 40%;
    left: 2.5%;
    color: var(--legenda-color);
    width: 70%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.sk-noticia-secundaria-2 {
    grid-area: sk-secundario-2;
}

.sk-noticia-secundaria-2 img {
    width: 326.312px;
    height: 183.547px;
}

.sk-noticia-secundaria-2 h3 {
    position: relative;
    bottom: 45%;
    left: 1.5%;
    color: var(--legenda-color);
    width: 70%;
    font-size: 1.4em;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
}

.legenda-sk-principal {
    position: absolute;
    color: var(--legenda-color);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    bottom: -298%;
    width: 20%;
    font-size: 1.6em;
    left: 3.5%;
    text-shadow: 1px 2px 3px rgba(0,0,0,.8);
}

.legenda-sk-secundaria-1 {
    position: absolute;
    bottom: -277%;
    width: 17%;
    color: var(--legenda-color);
    left: 27.4%;
    font-weight: 600;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
}

.legenda-sk-secundaria-2 {
    position: absolute;
    bottom: -299%;
    width: 17%;
    color: var(--legenda-color);
    left: 27.4%;
    font-weight: 600;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1.5px 3px rgba(0,0,0,.8);
}
/* FIM SK-GRID */

/* INICIO ANUNCIO-2 */
#anuncio-2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 10%;
    margin-right: .5%;
    width: 640px;
    height: 500px;
    animation-name: anuncio-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

@keyframes anuncio-2 {
    0% {background-image: url(../Imagens/anuncios-2/bradesco.jpg);}
    20% {background-image: url(../Imagens/anuncios-2/latam.png);}
    40% {background-image: url(../Imagens/anuncios-2/intel.jpg);}
    60% {background-image: url(../Imagens/anuncios-2/redbull.jpg);}
    80% {background-image: url(../Imagens/anuncios-2/nike.jpg);}
    100% {background-image: url(../Imagens/anuncios-2/bradesco.jpg);}
}
/* FIM ANUNCIO-2 */

/* ALTERNAR TEMA */
.mudarTema {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 1%;
}

.mudarTema button {
    background-color: var(--botao-cor1);
    border-radius: 50%;
    padding: .4rem;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mudarTema button:hover {
    background-color: var(--botao-cor2);
    transition: 400ms;
}

svg {
    color: white;
    width: 24px;
    height: 24px;
}
/* FIM DO ALTERNAR TEMA */

/* INICIO DO FOOTER */
footer {
    background: var(--tema-3);
    margin-top: 3%;
}

.footerContainer {
    width: 100%;
    padding: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais a {
    margin: .7%;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.redes-sociais a i {
    font-size: 2em;
    color: var(--tema-3);
}

.redes-sociais a:hover {
    background-color: var(--tema-3);
    transition: .5s;
}

.redes-sociais a:hover i {
    color: #fff;
    transition: .5s;
}

.navFooter {
    margin: 30px 0;
}

.navFooter ul {
    display: flex;
    justify-content: center;
}

.navFooter ul li a {
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.navFooter li {
    list-style: none;
}

.navFooter ul li a:hover {
    opacity: 1;
}

.copyright {
    background-color: var(--tema-4);
    padding: 30px;
    text-align: center;
}

.copyright p {
    color: #979797;
}

.designed {
    color: #fff;
    font-weight: 400;
}

@media (max-width: 600px) {
    .navFooter ul {
        flex-direction: column;
    }

    .navFooter ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* FIM DO FOOTER */