:root {
    --header-color: #5327F2;
    --header-second-color: #7655ee;
    --mibr-primary-color: #dea83d;
    --furia-and-sk-color: #000;
    --imperial-color: #0cd664;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
    background: var(--header-color);
    padding: 5px;
}

#header > img {
    width:  10%;
}

#menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-weight: 600;
    background-color: var(--header-second-color);
    margin: 0px;
    padding: 8px;
}

#menu > li, a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#mibr:hover {
    color: var(--mibr-primary-color);
}

#furia:hover, #sk:hover {
    color: var(--furia-and-sk-color);
}

#imperial:hover {
    color: var(--imperial-color);
}