@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito+Sans:opsz,wght@6..12,500&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:wght@300&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');

:root {
    --header-color: #0d122e;
    --header-color-furia: #0f0f0f;
    --header-color-imperial: #0bd765;
    --nav-color: #fbc146;
    --link-color: #fff;
    --tema-body: #fff;
    --tema-1: #111;
    --tema-2: #000;
    --tema-escrita: #000;
    --topico-hover: invert(100%) sepia(0) saturate(0) hue-rotate(239deg) brightness(105%) contrast(101%);
    --font-principal:'Noto Sans', sans-serif;
    --font-topico:'Open Sans', sans-serif;
    --font-texto:'Arimo', sans-serif;
    --botao-cor1: #7d1ad4;
    --botao-cor2: #6e17b9;
    --cor-marca-texto: #7356da;
}

[data-theme="dark"] {
    --tema-body: #000;
    --tema-escrita: #fff;
    --tema-1: #5327F2;
    --tema-2: #220394;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tema-body);
    transition: background-color .8s;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-family: var(--font-principal);
}

li {
    list-style: none;
}

#header {
    background-color: var(--header-color);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

#header > img {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topico {
    position: relative;
    color: #fff;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: .3rem;
    line-height: normal;
    font-family: var(--font-evento);
    left: 50px;
}

#topico > a:hover {
    transition: .9s;
    color: #b1b5be;
}

#nav {
    min-height: 70px;
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: .6s ease;
}

.nav-link:hover {
    opacity: .6;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    position: relative;
    display: block;
    width: 28px;
    height: 3px;
    top: 25%;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

@media (max-width: 1100px) {
    .hamburguer {
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background-color: #101026;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: .3s;
    }
    .nav-item {
        margin: 16px 0;
    }

    #menu.active {
        left: 0;
        z-index: 1;
    }

    #topico {
        left: 0;
    }
}

/* ALTERNAR TEMA */
.mudarTema {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 1%;
}

.mudarTema button {
    background-color: var(--botao-cor1);
    border-radius: 50%;
    padding: .4rem;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mudarTema button:hover {
    background-color: var(--botao-cor2);
    transition: 400ms;
}

svg {
    color: white;
    width: 24px;
    height: 24px;
}
/* FIM DO ALTERNAR TEMA */

main {
    display: grid;
    font-family: var(--font-texto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
}

#anuncio-principal {
    margin-bottom: 2%;
}

#anuncio-flex {
    display: flex;
    justify-content: center;
}

#anuncio-flex > img {
    width: 970px;
    height: 250px;
}

#section-header {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}

#article-header {
    align-items: center;
    display: grid;
    grid-template-areas:
    "autor autor"
    "titulo titulo"
    "data data"
    "divisoria divisoria";
    grid-template-columns: 100%;
    width: 50%;
}

#grid-autor {
    display: grid;
    grid-area: autor;
}

#autor {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#margem {
    margin-right: 1rem;
}

#margem > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#por-autor {
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 1.125em;
    color: var(--tema-escrita);
}

#informacoes-autor {
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 14px;
    color: var(--tema-escrita);
}

#grid-titulo {
    display: grid;
    grid-area: titulo;
    margin: 20px auto 20px auto;
}

#titulo {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#titulo > h1 {
    font-feature-settings: initial;
    font-size: 3.5em;
    font-variation-settings: initial;
    line-height: 60px;
    color: var(--tema-escrita);
}

#sub-titulo {
    margin-top: 16px;
}

#sub-titulo > h2 {
    font-feature-settings: initial;
    font-size: 1.2em;
    font-variation-settings: initial;
    font-weight: 400;
    line-height: 30px;
    color: var(--tema-escrita);
}

#data-pub {
    display: grid;
    grid-area: data;
    margin-top: 4px;
    margin-bottom: 16px;
    color: var(--tema-escrita);
}

.divisoria {
    grid-area: divisoria;
    border: 0;
    border-top: 1px solid #c8c8c8;
    display: block;
    margin-bottom: 5%;
}


#data-texto {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#article-materia {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#imagem-materia {
    display: grid;
    justify-items: center;
}

#imagem-materia > img {
    width: 50%;
    border-radius: 10px;
}

#imagem-materia > p {
    display: inline-block;
    margin-left: 0;
    width: 50%;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: justify;
    font-family: var(--font-principal);
    color: var(--tema-escrita);
}

.anuncio-materia {
    margin-top: 50px;
}

.anuncio {
    display: grid;
    justify-items: center;
}

.anuncios-pequenos {
    display: none;
}

.anuncio-materia::before {
    content: "";
    display: block;
    background: #c8c8c8;
    width: 100%;
    position: relative;
    height: 1px;
    top: -20px;
}

.anuncio-materia::after {
    content: "";
    display: block;
    background-color: #c8c8c8;
    position: relative;
    height: 1px;
    width: 100%;
    bottom: -20px;
    margin-bottom: 30px;
}

.anuncio::before {
    content: "CONTINUA DEPOIS DA PUBLICIDADE";
    display: block;
    white-space: nowrap;
    position: relative;
    background-color: #fff;
    font-size: .67rem;
    letter-spacing: 1px;
    color: #555;
    top: -26px;
    left: 120px;
    transform: translateX(-50%);
    padding: 0 10px
}

.anuncio > img {
    width: 970px;
    height: 250px;
    border: 1.5px solid #000;
}

.texto-materia {
    display: grid;
    justify-items: center;
}

.texto-materia > p {
    display: inline-block;
    margin-left: 0;
    width: 40%;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: justify;
    font-family: var(--font-principal);
    color: var(--tema-escrita);
}

mark {
    background-color: #7356da;
}

footer {
    background: var(--tema-1);
    margin-top: 5%;
}

.footerContainer {
    width: 100%;
    padding: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais a {
    margin: .7%;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-left: 1.5%;
}

.redes-sociais a i {
    font-size: 2em;
    color: var(--tema-1);
}

.redes-sociais a:hover {
    background-color: var(--tema-1);
    transition: .5s;
}

.redes-sociais a:hover i {
    color: #fff;
    transition: .5s;
}

.navFooter {
    margin: 30px 0;
}

.navFooter ul {
    display: flex;
    justify-content: center;
}

.navFooter ul li a {
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    transition: 0.5s;
}

.navFooter li {
    list-style: none;
}

.navFooter ul li a:hover {
    opacity: 1;
}

.copyright {
    background-color: var(--tema-2);
    padding: 30px;
    text-align: center;
}

.copyright p {
    color: #979797;
}

.designed {
    color: #fff;
    font-weight: 400;
}

@media (max-width: 1375px) and (min-width: 1101px) {

    #menu {
        gap: 40px;
    }

    #section-header {
        display: grid;
        justify-items: center;
    }

    #article-header {
        max-width: none;
        width: 70%;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        width: 70%;
        border-radius: 10px;
    }

    .anuncios-pequenos {
        display: none;
    }

    .anuncio > img {
        width: 970px;
        height: 250px;
    }

    #titulo > h1 {
        font-size: 3.5em;
        line-height: 60px;
    }

    #sub-titulo > h2 {
        font-size: 1.2em;
        line-height: 26px;
    }

    #imagem-materia > p {
        display: inline-block;
        margin-left: 0;
        width: 70%;
        font-size: 1.2em;
        margin-top: 20px;
        text-align: justify;
        line-height: 30px;
    }

    .texto-materia > p {
        display: inline-block;
        margin-left: 0;
        width: 70%;
        font-size: 1.2em;
        margin-top: 20px;
        text-align: justify;
        line-height: 30px;
    }

    .divisoria {
        grid-area: divisoria;
        border: 0;
        border-top: 1px solid #c8c8c8;
        display: block;
        margin-bottom: 10%;
    }

    #materia-1::before {
        display: none;
    }

    footer {
        margin-top: 5%;
    }

    .redes-sociais a {
        margin-left: 2%;
    }
}

@media (max-width: 1100px) and (min-width: 860px) {
    #anuncio-flex > img {
        width: 800px;
    }

    #section-header {
        display: grid;
        justify-items: center;
    }

    #article-header {
        width: 70%;
    }

    #margem > img {
        margin-bottom: 10px;
    }

    #por-autor {
        font-size: 1.2em;
    }

    #informacoes-autor {
        font-size: 1em;
    }

    #titulo > h1 {
        font-size: 3em;
        line-height: 50px;
    }

    #sub-titulo > h2 {
        font-size: 1.2em;
        line-height: 26px;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        float: none;
        width: 70%;
    }

    .anuncio-vale {
        display: none;
    }

    .anuncios-pequenos {
        display: inline;
    }

    .anuncio > img {
        width: 70%;
        height: auto;
    }

    #imagem-materia > p {
        display: inline-block;
        margin-left: 0;
        width: 70%;
        font-size: 1.2em;
        margin-top: 20px;
        text-align: justify;
        line-height: 30px;
    }

    .texto-materia > p {
        width: 70%;
        margin-top: 20px;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }

    footer {
        margin-top: 6%;
    }

    .redes-sociais a {
        margin-left: 2%;
    }
}

@media (max-width: 859px) and (min-width: 655px) {
    .anuncio-vale {
        display: none;
    }

    .anuncios-pequenos {
        display: inline;
    }

    #header > img {
        width: 12%;
    }

    #anuncio-flex > img {
        width: 600px;
    }

    main {
        display: grid;
    }

    #topico > a {
        margin-right: 10px;
        font-size: 0.9em;
    }

    #article-header {
        width: 80%;
    }

    #informacoes-autor {
        font-size: 0.9em;
    }

    #por-autor {
        font-size: 1.2em;
    }

    #margem > img {
        width: 80px;
        height: 80px;
    }

    #titulo > h1 {
        font-size: 2.5em;
        line-height: 40px;
    }

    #sub-titulo > h2 {
        font-size: 1.1em;
        line-height: 22px;
    }

    #section-header {
        display: grid;
        justify-items: center;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        width: 80%;
        float: none;
        border-radius: 10px;
    }

    .anuncio > img {
        width: 80%;
        height: auto;
    }

    #imagem-materia > p {
        width: 80%;
        margin-top: 20px;
        margin-left: 0;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }

    .texto-materia > p {
        width: 80%;
        margin-top: 20px;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }

    footer {
        margin-top: 5%;
    }

    .redes-sociais a {
        margin-left: 2%;
    }
}

@media (max-width: 859px) and (min-width: 540px) {

    .anuncio > img {
        width: 70%;
        border: 1.5px solid #000;
    }
}

@media (max-width: 654px) and (min-width: 501px) {
    .anuncio-vale {
        display: none;
    }

    .anuncios-pequenos {
        display: inline;
    }

    #anuncio-flex > img {
        width: 550px;
    }

    main {
        display: grid;
    }

    #header > img {
        width: 70px;
    }

    #topico > a {
        margin-right: 10px;
        font-size: 0.9em;
    }

    #informacoes-autor {
        font-size: 0.9em;
    }

    #por-autor {
        font-size: 1.2em;
    }

    #margem > img {
        width: 80px;
        height: 80px;
    }

    #titulo > h1 {
        font-size: 2.3em;
        line-height: 40px;
    }

    #sub-titulo > h2 {
        font-size: 1.1em;
        line-height: 26px;
    }

    #section-header {
        display: grid;
        justify-items: center;
    }

    #article-header {
        width: 80%;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        width: 80%;
        float: none;
        border-radius: 10px;
    }

    #imagem-materia > p {
        width: 80%;
        margin-top: 20px;
        margin-left: 0;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }

    .anuncio > img {
        width: 80%;
        height: auto;
    }

    .texto-materia > p {
        width: 80%;
        margin-top: 20px;
        text-align: justify;
        font-size: 1.2em;
        line-height: 30px;
    }

    footer {
        margin-top: 8%;
    }

    .redes-sociais a {
        margin-left: 3%;
    }
}

@media (max-width: 500px) {
    #anuncio-flex > img {
        width: 80%;
    }

    #header > img {
        width: 70px;
    }
}

@media (max-width: 500px) and (min-width: 373px) {
    .anuncio-vale {
        display: none;
    }

    .anuncios-pequenos {
        display: inline;
    }

    main {
        display: grid;
    }

    #anuncio-flex > img {
        width: 100%;
    }

    #header > img {
        width: 70px;
    }

    #article-header {
        width: 90%;
    }

    #topico > a {
        margin-right: 10px;
        font-size: 0.9em;
    }

    #informacoes-autor {
        font-size: 0.7em;
    }

    #por-autor {
        font-size: 1em;
    }

    #margem > img {
        width: 60px;
        height: 60px;
    }

    #titulo > h1 {
        font-size: 2em;
        line-height: 40px;
    }

    #section-header {
        display: grid;
        justify-items: center;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        width: 90%;
        float: none;
        border-radius: 10px;
    }

    #imagem-materia > p {
        width: 85%;
        margin-top: 20px;
        margin-left: 0;
        text-align: justify;
        font-size: 1.1em;
        line-height: 28px;
    }

    .texto-materia > p {
        width: 85%;
        margin-top: 20px;
        text-align: justify;
        font-size: 1.1em;
        line-height: 28px;
    }

    .anuncio > img {
        width: 90%;
        height: auto;
    }

    footer {
        margin-top: 8%;
    }

    .redes-sociais a {
        margin-left: 5%;
    }
}

@media (max-width: 372px) {

    .anuncio-vale {
        display: none;
    }

    .anuncios-pequenos {
        display: inline;
    }
    #article-header {
        width: auto;
    }

    #header {
        padding: 0 20px;
    }

    #header > img {
        width: 60px;
    }

    #anuncio-flex > img {
        width: 100%;
    }

    #margem > img {
        width: 60px;
        height: 60px;
    }

    #autor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #informacoes {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #informacoes-autor {
        font-size: 0.8em;
        text-align: center;
        width: 85%;
    }

    #titulo {
        display: grid;
        justify-items: center;
    }

    #titulo > h1 {
        font-size: 1.8em;
        line-height: 2rem;
        width: 80%;
    }

    #sub-titulo {
        display: grid;
        justify-items: center;
    }

    #sub-titulo > h2 {
        font-size: 0.8em;
        text-align: justify;
        width: 80%;
    }

    #por-autor {
        font-size: 1.1em;
        text-align: center;
    }

    #data-pub {
        margin-left: 10px;
    }

    #imagem-materia {
        display: grid;
        justify-items: center;
    }

    #imagem-materia > img {
        float: none;
        width: 90%;
    }

    #imagem-materia > p {
        margin-left: 0;
        text-align: justify;
        width: 85%;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.1em;
        line-height: 24px;
    }

    .texto-materia > p {
        text-align: justify;
        width: 85%;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1em;
        line-height: 24px;
    }

    .anuncio > img {
        width: 70%;
        height: auto;
    }

    footer {
        margin-top: 10%;
    }

    .redes-sociais a {
        margin-left: 5%;
    }
}

@media (max-width: 600px) {
    .navFooter ul {
        flex-direction: column;
    }

    .navFooter ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

@media (min-width: 780px) and (max-width: 859px) {
    #anuncio-flex > img {
        width: 700px;
    }
}

@media (min-width: 502px) and (max-width: 580px) {
    #anuncio-flex > img {
        width: 450px;
    }
}