body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #5327F2, #0c0131);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 80px;
}

.container h1 {
    text-align: center;
}

.container a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    top: 86%;
}

#idCpf, #idSenha {
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

#submitLogin {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    font-size: 16px;
}

#submitLogin:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}